@font-face {
  font-family: 'Mick Kelly';
  src: local('Mick Kelly'), url(./fonts/Mick\ Kelly.ttf) format('truetype');
}

html {
  background-color: #F4F8FB;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
