@font-face {
  font-family: 'Mick Kelly';
  src: local('Mick Kelly'), url(./fonts/Mick\ Kelly.ttf) format('truetype');
}

html {
  background-color: #F4F8FB;
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div{
  color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.artikel img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.artikel li {
  margin-left: 18px;
}

.artikel a {
  text-decoration: underline;
}

table {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}